@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: black;
  background-color: black;
  font-family: 'Franklin Gothic Medium';
}
